body {
    margin-top: 20px;
}

.results-box {
    display: none;
}

.results-box .list-group-item {
    overflow-wrap: break-word;
}

input#derefUrl {
    margin-bottom: 16px;
}

button#clearBtn {
    margin-right: 5px;
}

.jumbotron h1 {
    font-family: 'serif';
}

.jumbotron em {
    font-size: 0.5em;
    opacity: 0.5;
}
